<!--error.tmpl: controls error view-->



<html>

<TITLE>Re: Vietnam - Search | Error</TITLE>
 <body bgcolor="#000000" text="#EEEEEE" vlink = "#99cccc" link = "#99ccff" 
topmargin=0 leftmargin=0 >
<center> <img src="images/title.gif" alt = "Re: Vietnam"></center><p>

<CENTER><B>Error:</B> {$ERRORMSG}<P>
		<B>Error ID:</B>{$ERRORID}<P></CENTER>
<BR><P>
<B>If you are having trouble with your search, the following suggested search words have been chosen to lead you through a successful search.   Select any or all of them and add them to your query.  
<form method=POST action="http:fastweb?suggestedsearch">
<input type=hidden name=db0 value=all>
<input type=hidden name=operation value=error>
<input type=hidden name=view value=pbsonline>
<input type=hidden name=query value="{$QUERY}">
<input type=hidden name=numresults value=25>
<input type=hidden name=starthit value=0>



<select name=list_entry multiple size=10>
<option  > activism
<option  > children
<option  > draft
<option  > father
<option  > Maya Lin
<option  > mother
<option  > politics
<option  > refugee
<option  > veteran
<option  > Memorial Wall

</select><p>
Select words, then click here to <input type=submit value="Add Words to Query"><p>
</form> 
<HR>

<form method=POST action="http:fastweb?searchform">
<input type=hidden name=db0 value=all>
<input type=hidden name=operation value=error>
<input type=hidden name=view value=pbsonline>
<input type=hidden name=query value="{$QUERY}">
<input type=hidden name=numresults value=25>
<input type=hidden name=starthit value=0>


<A HREF = "search.html">Click here to <input type=submit value=" Return to Search Screen "></A>

</form>
</html>

