<!--hitlist.tmpl, controls appearance of hitlist...-->
<html>

<title>Search Result</A>
{$HITLIST}

{$SCORE:N}
<!--****????***{$LINK}*****-->
{$story:2}
{$name}
{$format}
{$QUERYBYEXAMPLE}...{$EOL}
{$HITLIST_END}

</html>





<!--***********BOTTOM TOOLBAR********-->
 <CENTER><TT> <A HREF = "search.html">New Search</A></TT></CENTER>
<BR><P>
CENTER><A HREF = "pov/stories/vietnam/about.html">ABOUT THIS SITE</A> | <A HREF =
"pov/stories/vietnam/story.html">STORIES</A> | <A HREF = "pov/stories/vietnam/contrib.html">CONTRIBUTE</A> | <A HREF =
"pov/stories/vietnam/search.html">SEARCH</A> | <A HREF =
"http://www.pbs.org/cgi-bin/pov/response.cgi/discuss/">DIALOG</A></CENTER>

<!--***********BOTTOM TOOLBAR********-->
