<body bgcolor="#000000" text="#EEEEEE" vlink="#99cccc" link="#99ccff">

<!--Template for Re Vietnam Stories Since the War-->
<!-- the story field must occur withing th efirst 32 lines of the reord-->


<META NAME="format" CONTENT="%%format%%">

<META NAME="date" CONTENT="%%date%%">

<!--plsfield:story-->
%%story%%
<P>
<!--plsfield:name-->
%%name%%
<BR>
<!--plsfield:year-->
%%year%%
<BR>
<!--plsfield:state-->
%%state%%
<BR>
<!--plsfield:email-->
%%email%%
<P>
<!--plsfield:keywords-->
%%keywords%%

<!--plsfield:end-->
